/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0072b1;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    margin: 5px 0;
    font-size: 1.2em;
}

section {
    padding: 50px 20px;
    max-width: 900px;
    margin: auto;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

section h2 {
    color: #0072b1;
}

.project a {
    color: #0072b1;
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background: #0072b1;
    color: #fff;
}
